.inner-content {
  padding-top: 70px;
  padding-bottom: 70px;
  max-width: 87%;
  margin: 0 auto;
}
.customer-bg {
    background: rgba(32, 93, 151, 1)!important;
    margin-bottom: 100px!important;
    margin-top: 70px!important;

    .side-img{
        top:7%;
    }

}
.enter {
    position: relative;
  background: rgba(9, 5, 3, 1);
  border-radius: 40px;
    margin-bottom: 70px;
    margin-top:50px;

  &--top {
    h2 {
      color: white;
      font-size: 72px;
      line-height: 80px;
      font-weight: 500;
    }

    strong {
      color: rgba(216, 220, 12, 1) !important;
      font-weight: bold;
  font-family: "Aeonik Pro Bold";
    }

    p {
      color: white;
      margin-bottom: 45px;
      font-size: 20px;
    }
  }

  &--bottom{
    display: flex;
    margin-top:100px;
    width: 85%;
    justify-content: space-between;
    display: flex;

    .enter-card{
        padding:50px;
        border:2px solid rgba(255, 255, 255, 0.48);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        border-radius: 20px;

        p{
              font-family: "Aeonik Pro Bold" !important;
            color:white;
            font-weight: bold;
            text-align: center;
            font-size: 18px;
        }
    }
  }
}


.side-img{
    height: 85%;
    width: auto;
    position: absolute;
    right: 2%;
    z-index: 0;
    top:0;
}