.faq-answer {
    display: none;
    padding: 10px 0;
}

.faq-question {
    cursor: pointer;
    font-weight: bold;
    padding: 10px 0;
}


.faq{

    padding-top: 100px;
    padding-bottom: 100px;
   &--left{
        max-width: 48%;
        h2{
            font-size:72px;
            font-weight: 500;
            line-height: 80px;
            color:rgba(9, 5, 3, 1);
        }

        p{
              font-family: "Aeonik"!important;
              font-size:20px;
              color:rgba(9, 5, 3, 0.48);

              a{
                font-weight:bold;
                color:rgba(191, 68, 10, 1);
                font-family: "Aeonik Pro Bold";
                padding-left:5px;
                cursor: pointer;
              }
        }
    }

    &--right{
       max-width: 48%;
        border:2px solid rgba(9, 5, 3, 0.12);
        border-radius:36px;
        padding:40px;
       .faq-question{
        color:rgba(191, 68, 10, 1);
        font-weight: bold;
      font-family: "Aeonik Pro Bold";
        font-size: 18px;
        background-color: rgba(253, 248, 245, 1);
        padding:20px;
        border-radius: 20px;
        border:2px solid rgba(191, 68, 10, 0.48);
        margin-bottom: 20px;
        overflow: hidden;
       }
    }
}

.faq-accordion{
    width: 580px;
}

.faq-answer{
        margin-top: -30px;
    padding-left: 15px;
    padding-right: 15px;
}

.faq-row{
    display:flex;
    justify-content: space-between;
    align-items: center;

}



.faq-question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-icon {
    font-weight: bold;

    background-color: rgba(191, 68, 10, 0.12);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:6px;
    height: 32px;
    width: 32px;
}
