
body {
  overflow-x: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
}

html{
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.fa-times {
  display: none;
  font-size: 35px;
}

body p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0px;
}

