.page-template-entertainer-registration-template-php{
    .go-back-btn{
        display:flex;
        align-items: center;
        font-family: "Aeonik Medium";
        font-size:18px;
        margin-bottom: 10px;
        color:rgba(9, 5, 3, 1);

        img{
            padding-right: 10px;
        }
    }
    background: rgba(255, 255, 255, 1);
    header{
        display:none;
    }

    .login-txt{
        font-size:18px;
        font-family: "Aeonik";
        a{
            color:rgba(191, 68, 10, 1);
            font-family: "Aeonik Pro Bold";

        }
    }

    footer{
        display:none;  
    }

    padding-top:10vh;
    padding-bottom:10vh;

    .us-register{
        display:flex;
        align-items: center;

        &--row{
            justify-content: space-between;
            display:flex;
            align-items: center;
            width:100%;

            .reg-left{
                max-width: 32%;
                display:flex;
                justify-content: flex-start;
                flex-direction: column;
                font-family: "Aeonik";
                font-size:18px;
                .reg-txt{
                    a{
                        font-size:18px;
                        color:rgba(191, 68, 10, 1);
                        font-family: "Aeonik Pro Bold";
                    }
                }

                h1{
                    text-transform: capitalize;
                }


                .um-field-error{
                      font-family: "Aeonik";

                }

                   .um-register{
                        margin-left:0px!important;
                        margin-right:0px!important;
                        margin-bottom: 0px!important;
                        padding-bottom: 10px!important;

                        label{
                             font-family: "Aeonik";
                             font-weight:bold;
                             font-size:16px;
                             color:rgba(9, 5, 3, 1);
                        }
                        input{
                            border-radius:12px;
                            height:54px!important;
                            border:1.5px solid rgba(9, 5, 3, 0.2)!important;
                            font-size:18px;
                            
                            &::placeholder{
                                color:rgba(9, 5, 3, 0.4)!important;
                                 font-size:18px!important;
                            }
                        }
                    }

                    .um-col-alt .um-center{
                        display: flex;
                        justify-content: flex-start;
                    }

                   #um-submit-btn{
                        border:none!important;
                        font-family: "Aeonik Pro Bold";
                        color:white;
                        font-size:18px!important;
                        background: rgba(191, 68, 10, 0.4)!important;
                        border-radius:12px!important;
                        height:54px!important;
                       min-width: 188px!important;
                        padding:16px 28px!important;

               }
            }
            

            .reg-right{
                max-width: 58%;
                overflow: hidden;

                img{
                    height:700px;
                    width: auto;
                }
            }
        }
    }
}

.upside-part{
    position:absolute;
    top:-50px;
    left:0;
    height: 450px;
    width:auto;
    z-index: -1;
}





















.page-template-customer-registration-template-php{
    .go-back-btn{
        display:flex;
        align-items: center;
        font-family: "Aeonik Medium";
        font-size:18px;
        margin-bottom: 10px;
        color:rgba(9, 5, 3, 1);

        img{
            padding-right: 10px;
        }
    }
    background: rgba(255, 255, 255, 1);
    header{
        display:none;
    }

    .login-txt{
        font-size:18px;
        font-family: "Aeonik";
        a{
            color:rgba(191, 68, 10, 1);
            font-family: "Aeonik Pro Bold";

        }
    }

    footer{
        display:none;  
    }

    padding-top:10vh;
    padding-bottom:10vh;

    .us-register{
        display:flex;
        align-items: center;

        &--row{
            justify-content: space-between;
            display:flex;
            align-items: center;
            width:100%;

            .reg-left{
                max-width: 32%;
                display:flex;
                justify-content: flex-start;
                flex-direction: column;
                font-family: "Aeonik";
                font-size:18px;
                .reg-txt{
                    a{
                        font-size:18px;
                        color:rgba(191, 68, 10, 1);
                        font-family: "Aeonik Pro Bold";
                    }
                }

                h1{
                    text-transform: capitalize;
                }


                .um-field-error{
                      font-family: "Aeonik";

                }

                   .um-register{
                        margin-left:0px!important;
                        margin-right:0px!important;
                        margin-bottom: 0px!important;
                        padding-bottom: 10px!important;

                        label{
                             font-family: "Aeonik";
                             font-weight:bold;
                             font-size:16px;
                             color:rgba(9, 5, 3, 1);
                        }
                        input{
                            border-radius:12px;
                            height:54px!important;
                            border:1.5px solid rgba(9, 5, 3, 0.2)!important;
                            font-size:18px;
                            
                            &::placeholder{
                                color:rgba(9, 5, 3, 0.4)!important;
                                 font-size:18px!important;
                            }
                        }
                    }

                    .um-col-alt .um-center{
                        display: flex;
                        justify-content: flex-start;
                    }

                   #um-submit-btn{
                        border:none!important;
                        font-family: "Aeonik Pro Bold";
                        color:white;
                        font-size:18px!important;
                        background: rgba(191, 68, 10, 0.4)!important;
                        border-radius:12px!important;
                        height:54px!important;
                       min-width: 188px!important;
                        padding:16px 28px!important;

               }
            }
            

            .reg-right{
                max-width: 58%;
                overflow: hidden;

                img{
                    height:700px;
                    width: auto;
                }
            }
        }
    }
}







.page-template-login-template-php{
    .go-back-btn{
        display:flex;
        align-items: center;
        font-family: "Aeonik Medium";
        font-size:18px;
        margin-bottom: 10px;
        color:rgba(9, 5, 3, 1);

        img{
            padding-right: 10px;
        }
    }
    background: rgba(255, 255, 255, 1);
    header{
        display:none;
    }

    .login-txt{
        font-size:18px;
        font-family: "Aeonik";
        a{
            color:rgba(191, 68, 10, 1);
            font-family: "Aeonik Pro Bold";

        }
    }

    footer{
        display:none;  
    }

    padding-top:10vh;
    padding-bottom:10vh;

    .us-register{
        display:flex;
        align-items: center;

        &--row{
            justify-content: space-between;
            display:flex;
            align-items: center;
            width:100%;

            .reg-left{
                max-width: 32%;
                display:flex;
                justify-content: flex-start;
                flex-direction: column;
                font-family: "Aeonik";
                font-size:18px;
                .reg-txt{
                    a{
                        font-size:18px;
                        color:rgba(191, 68, 10, 1);
                        font-family: "Aeonik Pro Bold";
                    }
                }

                h1{
                    text-transform: capitalize;
                }


                .um-field-error{
                      font-family: "Aeonik";

                }

                   .um-login{
                     
                        margin-left:0px!important;
                        margin-right:0px!important;
                        margin-bottom: 0px!important;
                        padding-bottom: 10px!important;


                        label{
                             font-family: "Aeonik";
                             font-weight:bold;
                             font-size:16px;
                             color:rgba(9, 5, 3, 1);
                        }
                        input{
                            border-radius:12px;
                            height:54px!important;
                            border:1.5px solid rgba(9, 5, 3, 0.2)!important;
                            font-size:18px;
                            
                            &::placeholder{
                                color:rgba(9, 5, 3, 0.4)!important;
                                 font-size:18px!important;
                            }
                        }
                    }

                    .um-col-alt .um-center{
                        display: flex;
                        justify-content: flex-start;
                    }

                   #um-submit-btn{
                        border:none!important;
                        font-family: "Aeonik Pro Bold";
                        color:white;
                        font-size:18px!important;
                        background: rgba(191, 68, 10, 0.4)!important;
                        border-radius:12px!important;
                        height:54px!important;
                       min-width: 188px!important;
                        padding:16px 28px!important;

               }
            }
            

            .reg-right{
                max-width: 58%;
                overflow: hidden;

                img{
                    height:700px;
                    width: auto;
                }
            }
        }
    }
}


                  .um-login{
                    form{
                        display:flex;
                        flex-direction: column;
                        width: 100%;
                    }
                            .um-col-alt{
                            order:2;
                            display: flex!important;
                        }

                        .um-col-alt-b{
                             order:1!important;
                            display: flex!important;
                            justify-content: flex-end;
                            margin-top:-20px!important;
                            padding-top:0px!important;

                            a{
                                color:rgba(191, 68, 10, 1)!important;
                            }
                        }
                  }    




.um-eye-toggle{
    color:rgba(191, 68, 10, 1)!important;
}

/* Style the eye icon */
.um-eye-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    color: #000;
    opacity: 0.7;
    user-select: none;
}
.um-eye-toggle:hover {
    opacity: 1;
}
.um-eye-toggle img {
    width: 22px;
    height: 22px;
}





























.page-template-reset-template-php{
    .go-back-btn{
        display:flex;
        align-items: center;
        font-family: "Aeonik Medium";
        font-size:18px;
        margin-bottom: 10px;
        color:rgba(9, 5, 3, 1);

        img{
            padding-right: 10px;
        }
    }
    background: rgba(255, 255, 255, 1);
    header{
        display:none;
    }

    .login-txt{
        font-size:18px;
        font-family: "Aeonik";
        a{
            color:rgba(191, 68, 10, 1);
            font-family: "Aeonik Pro Bold";

        }
    }

    footer{
        display:none;  
    }

    padding-top:10vh;
    padding-bottom:10vh;

    .us-register{
        display:flex;
        align-items: center;

        &--row{
            justify-content: space-between;
            display:flex;
            align-items: center;
            width:100%;

            .reg-left{
                max-width: 32%;
                display:flex;
                justify-content: flex-start;
                flex-direction: column;
                font-family: "Aeonik";
                font-size:18px;
                .reset-txt{
                    a{
                        font-size:18px;
                        color:rgba(191, 68, 10, 1);
                        font-family: "Aeonik Pro Bold";
                    }
                }

                h1{
                    text-transform: capitalize;
                }


                .um-field-error{
                      font-family: "Aeonik";

                }

                   .um-password{
                     
                        margin-left:0px!important;
                        margin-right:0px!important;
                        margin-bottom: 0px!important;
                        padding-bottom: 10px!important;

.um-field-block{
    div{
        text-align: left!important;
  font-family: "Aeonik";
                             font-weight:bold;
                             font-size:16px;
                             color:rgba(9, 5, 3, 1);
    }
}
                        label{
                             font-family: "Aeonik";
                             font-weight:bold;
                             font-size:16px;
                             color:rgba(9, 5, 3, 1);
                        }
                        input{
                            border-radius:12px;
                            height:54px!important;
                            border:1.5px solid rgba(9, 5, 3, 0.2)!important;
                            font-size:18px;
                            
                            &::placeholder{
                                color:rgba(9, 5, 3, 0.4)!important;
                                 font-size:18px!important;
                            }
                        }
                    }

                    .um-col-alt .um-center{
                        display: flex;
                        justify-content: flex-start;
                    }

                   #um-submit-btn{
                        border:none!important;
                        font-family: "Aeonik Pro Bold";
                        color:white;
                        font-size:18px!important;
                        background: rgba(191, 68, 10, 0.4)!important;
                        border-radius:12px!important;
                        height:54px!important;
                       min-width: 188px!important;
                        padding:16px 28px!important;

               }
            }
            

            .reg-right{
                max-width: 58%;
                overflow: hidden;

                img{
                    height:700px;
                    width: auto;
                }
            }
        }
    }
}

  
