@font-face {
    font-family: "Aeonik";
    src: url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.eot");
    src: url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.svg#Aeonik")format("svg");
}

@font-face {
    font-family: "Aeonik Medium";
    src: url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.eot");
    src: url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.svg#Aeonik Medium")format("svg");
}


@font-face {
    font-family: "Aeonik Pro Bold";
    src: url("https://db.onlinewebfonts.com/t/362636484f8ad521fec5a297fdc0ab12.eot");
    src: url("https://db.onlinewebfonts.com/t/362636484f8ad521fec5a297fdc0ab12.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/362636484f8ad521fec5a297fdc0ab12.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/362636484f8ad521fec5a297fdc0ab12.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/362636484f8ad521fec5a297fdc0ab12.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/362636484f8ad521fec5a297fdc0ab12.svg#Aeonik Pro Bold")format("svg");
}



h1{
    font-size:80px;
 font-family: "Aeonik Medium"!important;
    font-weight: 450 !important;
    line-height: 1;
}

h2,h3,h4,h5 {
         font-family: "Aeonik";
}

p{
     font-family: "Aeonik"!important; 
}

a{
    text-decoration: none;
}

.btn-default-sm{
    font-size:18px;
    padding:13px 35px;
    border:2px solid #BF440A;
    color:#BF440A;
    max-width: fit-content;
    border-radius:12px;
    font-weight: bold;
    font-family: "Aeonik Pro Bold";
    cursor:pointer;
}



.btn-default{
    font-size:18px;
    padding:21px 24px;
    border:2px solid #BF440A;
    color:#BF440A;
    max-width: fit-content;
    border-radius:16px;
    font-weight: bold;
    font-family: "Aeonik Pro Bold";
    cursor:pointer;

}

.btn-active-white{
    font-size:18px;
    padding:21px 24px;
    color:#090503;
    background-color:white;
    max-width: fit-content;
    border-radius:16px;
    font-weight: bold;
    font-family: "Aeonik Pro Bold";
    cursor:pointer;
}


.btn-active{
    font-size:18px;
    padding:21px 24px;
    color:white;
        border:2px solid #BF440A;
    background-color:#BF440A;
    max-width: fit-content;
    border-radius:16px;
    font-weight: bold;
    font-family: "Aeonik Pro Bold";
    cursor:pointer;

}

.searchBtn{
    background:#BF440A1F;
    border-radius: 38px;
    padding:12px;
    width:34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top:10px;
    cursor:pointer;

    img{
      transform:scale(1.3);
    }


}


.hero-box{
    text-align: center;
}

.searchPortal{
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    position: relative;
    width:520px;

    input{
        display: flex;
        border:1.5px solid #09050333;
        border-radius:42px;
        width: 100%;
        height: 48px;
        padding:12px;
        font-family: "Aeonik";
        color:#09050333;
        font-size:18px;
        padding-left:18px;
    }

}
.cloud-row {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.cloud-box {
  font-family: "Aeonik";
  font-size: 18px;
  padding: 18px 19px;
  border-radius: 36px;
  border: 2px solid #7D0ABF33;
  color: #7D0ABF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;  
  font-weight: 600;
  
  /* <-- important */
}

.row-4 {
  .cloud-box:nth-child(1) {
    background-color: rgba(252, 250, 254, 1);
  }

  .cloud-box:nth-child(2) {
    background-color: rgba(254, 253, 250, 1);
    border: 2px solid rgba(191, 146, 10, 0.2);
    color: rgba(191, 146, 10, 1);
  }

  .cloud-box:nth-child(3) {
    background-color: rgba(250, 254, 253, 1);
    border: 2px solid rgba(10, 191, 128, 0.2);
    color: rgba(10, 191, 128, 1);
  }

  .cloud-box:nth-child(4) {
    background-color: rgba(252, 253, 250, 1);
    border: 2px solid rgba(114, 165, 11, 0.2);
    color: rgba(114, 165, 11, 1);
  }
}

.row-3 {
  .cloud-box:nth-child(1) {
    background-color: rgba(255, 252, 250, 1);
    color: rgba(247, 93, 21, 1);
    border: 2px solid rgba(247, 93, 21, 0.2);
  }

  .cloud-box:nth-child(2) {
    background-color: rgba(250, 251, 254, 1);
    color: rgba(13, 75, 181, 1);
    border: 2px solid rgba(13, 75, 181, 0.2);
  }

  .cloud-box:nth-child(3) {
    background-color: rgba(250, 253, 253, 1);
    border: 2px solid rgba(9, 172, 175, 0.2);
    color: rgba(9, 172, 175, 1);
  }
}

.row-2 {
  .cloud-box:nth-child(1) {
    background-color: rgba(254, 250, 251, 1);
    color: rgba(187, 0, 40, 1);
    border: 2px solid rgba(187, 0, 40, 0.2);
  }

  .cloud-box:nth-child(2) {
    background-color: rgba(254, 250, 254, 1);
    color: rgba(197, 10, 194, 1);
    border: 2px solid rgba(197, 10, 194, 0.2);
  }
}

.cloud-box img {
  width: 20px;
  margin-right: 6px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
